body {
  background-color: azure;
  text-align: center;
  width: 300mm;
}
#title {
  font-size: 50px;
  font-family: cursive;
  color: brown;
}

.image-column {
  float: left;
  width: 30%;
  padding: 5px;
}

#images {
    width: 75%;
    margin: 0 auto;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.center {
  position: relative;
  margin-left: 130mm;
  border: 5px solid #FFFF00;
  }

  .highlight {
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-feature-settings: "aalt";
    text-decoration-color: darkcyan;
  }

  #game {
    display: none;
  }

  .color-highlight {
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-feature-settings: "aalt";
    text-decoration-color: darkcyan;
  }